body,html{
/*
margin: 0;
padding: 0;
*/
/*font-family: "Arial", sans-serif;
font-size: 10px;*/
/*
font-size: 0.95em;
text-align: center;
*/
}


#chart{
	background-color: #F5F2EB;
/*	border: 1px solid #CCC;*/
  border: 1px solid black;
}


.hexagon {
	fill: none;
	stroke: black;
	stroke-width: 1px;
}


.axis path,
.axis line {
	fill: none;
	stroke: black;
/*	stroke: #000;*/
	shape-rendering: crispEdges;
}


.axis text {
/*.axis {*/
/*
  font-family: "Arial", sans-serif;
  font-size: 10px;
*/
}


.dot {
  stroke: #000;
}


/*
.tooltip {
position: absolute;
width: 200px;
height: 28px;
pointer-events: none;
}
*/


.d3-tip {
	line-height: 0;
	/*font-weight: bold;*/
	/*padding: 12px;*/
	padding: 8px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}


/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1.2;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}


/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}